{% extends 'main/base.html'  %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>Home Page</h1>
    <p>Hallo {{ user.username }}!<br></p>
    <div style="display:inline-block;width:70%">
    <p>Herzlich Willkommen bei BREZEL WARS!</p>
    <p>Hier kannst Du eine Abwandlung des Brettspiels Rosenkönig gegen anderen Spieler spielen.</p>
    <p> <a href="/gamerules"><button type="button" class="btn btn-outline-primary" style="width:30%">Die Spielregeln findest Du hier!</button></a> </p>
    <p>Zum Spielen benötigst Du einen Account.</p>
    <p><a href ="/register"><button type="button" class="btn btn-outline-primary" style="width:30%">Hier kannst Du dich registrieren</button></a></p>
    <p>Hast Du bereits einen Account? </br><a href="/login"><button type="button" class="btn btn-outline-primary" style="width:30%">Dann logge dich hier ein</button></a></p>
    </br>

    </br>
        {% if user.is_authenticated %}
    <p>
    <a href="/waiting_room/global"><button type="button" class="btn btn-primary">Zufälligen Gegner suchen</button></a>
     <a id="waitingUrl" href=""><button type="button" class="btn btn-primary">Partie erstellen</button></a>
    </p>
        {% endif %}
    </div>
    <div style="display:inline-block;vertical-align: top; width:29%; margin-left:auto; margin-right:auto" >
    <img src="{% static "main/pictures/playingfield.jpg" %}" alt="Spielfeld">
    </div>

<script>
function createGUID() {
  function random() {
    return Math.floor((1 + Math.random()) * 0x10000)
      .toString(16)
      .substring(1);
  }
  return random() + random() + '-' + random() + '-' + random() + '-' +
    random() + '-' + random() + random() + random();
}

window.onload = function(){
    var guid = createGUID();
    document.getElementById('waitingUrl').href = "waiting_room/" + guid;
};
</script>

{% endblock %}