{% extends 'main/base.html'  %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Home Page</h1>
    <p>Hallo {{ user.username }}!<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
    <p>TEST<br></p>
{% endblock %}