{% extends 'main/base.html'  %}
{% load static %}
{% block title %}Spiel-Historie{% endblock %}

{% block content %}
    <h1 class="mt-2">Hier findest du deine gespielten Spiele:</h1>
    <br>
    <br>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Game_ID</th>
                    <th scope="col">Spieler 1</th>
                    <th scope="col">Spieler 2</th>
                    <th scope="col">Punkte Spieler 1</th>
                    <th scope="col">Punkte Spieler 2</th>
                    <th scope="col">Startzeit</th>
                    <th scope="col">Endzeit</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ls %}
                    <tr>
                        <th scope="row">{{ item.game_id }}</th>
                        <td>{{ item.player_one_username }}</td>
                        <td>{{ item.player_two_username }}</td>
                        <td>{{ item.player_one_points }}</td>
                        <td>{{ item.player_two_points }}</td>
                        <td>{{ item.started_at }}</td>
                        <td>{{ item.ended_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}