{% extends "main/base.html" %}

{% load static %}

{% block title %}Waiting Room {% endblock %}

{% block content %}

<h1><center><br>Hallo {{ user.username }}! <br>
   Bitte schließen Sie die Seite nicht!<br>
    Warten auf zweiten Spieler...<br>
<div class="spinner-border m-5" role="status">
  <span class="sr-only"></span>
</div></center>
</h1>
<h1 id="app">{{ text }}</h1>

 {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const Socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/waiting_room/'
            + roomName
            + '/'
        );

        Socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#app').innerText = (data.user);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    </script>
{% endblock %}

{% block footer %}{% endblock %}