{% extends "main/base.html" %}

{% load static %}

{% block title %}Waiting Room {% endblock %}

{% block content %}

<div id="welcomeText" class="text-center">
    <h1><p>Hallo {{ user.username }}! <p>
        <p>Bitte schließ die Seite nicht!</p>
        <p>Warten auf zweiten Spieler...</p>
    </h1>
    <div class="spinner-border m-5" role="status">
        <span class="sr-only"></span>
    </div>
</div>
    {{ room_name|json_script:"room-name" }}
    {{ user.username|json_script:"user-name" }}
    <script>
    function connect() {
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        // TODO: wss = https
        const socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/waiting_room/'
            + roomName
            + '/'
        );

        socket.onopen = function () {
                socket.send(JSON.stringify(
                    {
                        'message': "why? ",
                    }));
            document.body.appendChild(btn);
            console.log('socket opened')
        };

        socket.onclose = function () {
            console.error('Chat socket closed unexpectedly');
        };

        socket.addEventListener('message', (event) => {
            document.querySelector('#usersOnline').value += 'test'
            console.log('Message from server ', event.data);
        });

        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);

             switch (data.type) {
                case "user_list":
                    if (data.users.length == 2) {
                        location.href = '/game/'+ data.message;
                        console.log(users[0]);
                    }
                    break;
                default:
                    console.error("Unknown message type!");
                    break;
            }
        }
    }
    connect();

    function createGUID() {
  function random() {
    return Math.floor((1 + Math.random()) * 0x10000)
      .toString(16)
      .substring(1);
  }
  return random() + random() + '-' + random() + '-' + random() + '-' +
    random() + '-' + random() + random() + random();
}
    </script>
{% endblock %}

{% block footer %}{% endblock %}